body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}

#container {
  display: flex;
  flex-direction: column;
  width: 70vh;
  height: 70vh;
  box-shadow: 3px 3px 10px;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  margin: 0;
  font-size: 40px;
  margin-bottom: 12px;
}

#buttonContainer {
  display: flex;
  gap: 15px;
}

button {
  background-color: #3882F6;
  color: #ffffff;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.row {
  display: flex;
  flex: 1;
}

.col {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}